# --- Blueprints: her modülün sahibi ---
/app/blueprints/customers/**  @itu-itis24-tekgozm21
/app/blueprints/orders/**     @OzanOzyurt10
/app/blueprints/products/**   @itu-itis22-aydinmer22
/app/blueprints/payments/**   @omerdemirci44
/app/blueprints/reviews/**    @itu-itis22-karaaslanmu21

# --- ETL: CSV yükleyiciler ---
/db/etl/load_customers.py      @itu-itis24-tekgozm21
/db/etl/load_geo_zip.py        @itu-itis24-tekgozm21
/db/etl/load_orders.py         @OzanOzyurt10
/db/etl/load_order_items.py    @OzanOzyurt10
/db/etl/load_products.py       @itu-itis22-aydinmer22
/db/etl/load_categories.py     @itu-itis22-aydinmer22
/db/etl/load_payments.py       @omerdemirci44
/db/etl/load_reviews.py        @itu-itis22-karaaslanmu21

# --- Şema ve SQL: ekip birlikte review etsin ---
/db/ddl_mysql/**               @omerdemirci44 @itu-itis22-aydinmer22 @itu-itis22-karaaslanmu21 @itu-itis24-tekgozm21 @OzanOzyurt10
/db/ddl/**                     @omerdemirci44 @itu-itis22-aydinmer22 @itu-itis22-karaaslanmu21 @itu-itis24-tekgozm21 @OzanOzyurt10
/sql/**                        @omerdemirci44 @itu-itis22-aydinmer22 @itu-itis22-karaaslanmu21 @itu-itis24-tekgozm21 @OzanOzyurt10

# --- Script & Docs ---
/scripts/**                    @omerdemirci44 @itu-itis22-aydinmer22 @itu-itis22-karaaslanmu21 @itu-itis24-tekgozm21 @OzanOzyurt10
/docs/**                       @omerdemirci44 @itu-itis22-aydinmer22 @itu-itis22-karaaslanmu21 @itu-itis24-tekgozm21 @OzanOzyurt10

# --- Varsayılan ---
*                              @omerdemirci44 @itu-itis22-aydinmer22 @itu-itis22-karaaslanmu21 @itu-itis24-tekgozm21 @OzanOzyurt10
